header {
    height: 200px;
    background-image: url('https://i.stack.imgur.com/08Nj1.jpg');
    font-family: 'Dosis', sans-serif;
}

body {
    font-family: 'Sansita', sans-serif;
    width: 80%;
    margin: 0 auto;
    background-color: #4286f4;
}

banner {
    margin: 0 auto;
}

media-left {
    float: left;
}

body {
    background-color: #afbdd3;
}

#waterloo {
    background-color: #abc7f4;
}

#physics {
    background-color: #abc7f4;
    line-height: 35px;
}

#physicschild {
    margin-left: 300px;
}

#awards {
    background-color: #abc7f4;
    line-height: 35px;
}

#coop {
    background-color: #abc7f4;
    width: 100%;
    line-height: 35px;
}

#terrahinc {
    margin-left: 330px;
}

#startups {
    line-height: 35px;
    background-color: #abc7f4;
}

#child {
    display: inline-block;
    margin-left: 100px;
    margin-top: -30px;

}

#upcoming {
    line-height: 35px;
    background-color: #abc7f4;
}

#current {
    line-height: 35px;
    background-color: #abc7f4;
}

#headers {
    font-size: 29px;
}

#titles {
    font-size: 25px;
}

#centeredmenu {
    float: left;
    width: 100%;
    background: #fff;
    border-bottom: 4px solid #000;
    overflow: hidden;
    position: relative;
}

#centeredmenu ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}

#centeredmenu ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}

#centeredmenu ul li a {
    display: block;
    margin: 0 0 0 1px;
    padding: 3px 10px;
    background: #ddd;
    color: #000;
    text-decoration: none;
    line-height: 1.3em;
}

#centeredmenu ul li a:hover {
    background: #89F7F0;
    color: #fff;
}

#centeredmenu ul li a.active, #centeredmenu ul li a.active:hover {
    color: #fff;
    background: #000;
    font-weight: bold;
}

.footer-wrapper {
    background-color: none;
    height: 100px;
    width: 684px;
    margin: 0 auto;
}

.footer-wrapper ul {
    list-style-type: none;
    margin-left: 50px;
    background-color: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;

}

.nav ul a {
    font-size: 17px;
}

.media-object{
    margin-top: 70px;
}

footer li {
    float: left;
}

a:link, a:visited {
    background-color: #AFAFAF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #89F7F0;
}
