header{
	height: 200px;
	background-image: url('https://i.stack.imgur.com/08Nj1.jpg');
	font-family: 'Dosis', sans-serif;

}
body{
	font-family: 'Dosis', sans-serif;
	width: 80%;
	margin: 0 auto;
	background-color:#4286f4;
}

banner{
	margin: 0 auto;
}

media-left{
	float: left;
}

body{
	background-color:#afbdd3;
}

#awards {
	background-color: #3a85ff;
}

#centeredmenu {
   float:left;
   width:100%;
   background:#fff;
   border-bottom:4px solid #000;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
#centeredmenu ul li a:hover {
   background:#89F7F0;
   color:#fff;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}























