.header-content {
    padding-bottom: 40px;
    font-family: 'Dosis', sans-serif;
}

.header-sub {
    text-align: center;
    font-size: 29px;
    font-family: 'Dosis', sans-serif;
}

.home {
    background-image: url('http://i.imgur.com/bWnBMeG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    min-height: 100%;
    color: black;
    font-family: 'Dosis', sans-serif;
}

a:link, a:visited {
    background-color: #AFAFAF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #89F7F0;
}

.awards {
    background-image: url('http://i.imgur.com/bWnBMeG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    min-height: 100%;
    color: white;
    line-height: 35px;
}

.projects {
    background-image: url('http://il9.picdn.net/shutterstock/videos/5620931/thumb/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    min-height: 100%;
    color: white;
}

.work {
    background-image: url('http://i.imgur.com/bWnBMeG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    min-height: 100%;
    color: white;
}

h1 {
    font-size: 47px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    width: 684px;
    margin: 0 auto;
    background-color: none;
    text-color: black;
}

.wrapper {
    width: 700px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 17px;
}

.nav {
    height: 50px;
    white-space: nowrap;
    margin: 0 auto;
    background-color: none;
    text-align: center;
    padding-left: 120px;
}

.aboutme {
    width: 684px;
    margin: 0 auto;
    background-color: none;
    text-align: center;
}

.aboutme p {
    width: 684px;
    margin: 0 auto;
    background-color: #abc7f4;
    padding-left: 50px;
    color: black;
    text-align: left;
    font-family: 'Dosis', sans-serif;
    font-size: 27px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul a {
    font-size: 17px;
}

li {
    float: left;
}

.footer-wrapper {
    background-color: none;
    height: 100px;
    width: 684px;
    margin: 0 auto;
}

.footer-wrapper ul {
    list-style-type: none;
    margin-left: 50px;
    background-color: none;
}

<!--
--for non-indexpage-------! >

;
height:

100
px

;
width:

684
px

;
margin:

0
auto

;

}
.footer-wrapper ul {
    list-style-type: none;
    margin-left: 50px;
    background-color: none;
}

<!--  --for non-indexpage-------! >
.blink {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

.flex {
    display: flex;
}

.header-sub-title {
    color: #fff;
    font-family: "Courier";
    font-size: 20px;
    padding: 0.1em;
}
