


.header-content{
	padding-bottom: 40px;
	font-family: 'Noto Sans', sans-serif;
}

.header-sub{
	text-align: center;
	font-size: 29px;
	font-family: 'Fira Sans Condensed', sans-serif;
}


.home{
	background-image: url('http://i.imgur.com/bWnBMeG.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	min-height:100%;
	color: white;
	font-family: 'Noto Sans', sans-serif;
	
}

a:link, a:visited {
    background-color: #AFAFAF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #89F7F0;
}

	


.awards {
	background-image: url('http://i.imgur.com/bWnBMeG.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	min-height:100%;
	color: white;
}

.projects {
	background-image: url('http://il9.picdn.net/shutterstock/videos/5620931/thumb/4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	min-height:100%;
	color: white;
}

.work {
	background-image: url('http://i.imgur.com/bWnBMeG.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	min-height:100%;
	color: white;
}
h1 {

	font-size: 47px;
	font-family: 'Kanit', sans-serif;
	text-align: center;
	width: 684px;
	margin: 0 auto;
	background-color: none;
	text-color: white;

}
.wrapper{
	width: 700px;
	height:200px;
	margin: 0 auto;

	margin-top: 100px;
	font-size:17px;
}


.nav{
	height: 50px;
	white-space: nowrap;
	margin: 0 auto; 
	background-color: none;
	text-align: center;
	padding-left:59px;

}

.aboutme {
	width: 684px;
	margin: 0 auto; 
	background-color:none;
	text-align: center;
}

.aboutme p {
	width: 684px;
	margin: 0 auto;
	background-color: white;
	padding-left: 50px;
	color: black;
	text-align: left;
	
}

.nav ul {
	list-style-type: none;
	margin: 0 ;
	padding: 0;
}
.nav ul a{
	font-size:17px;
}

li {
	float: left;
}

.footer-wrapper {
	background-color: white;
	height: 100px;
	width: 684px;
	margin: 0 auto;	
}













