
.home{
	background-image: url('http://i.imgur.com/bWnBMeG.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	min-height:100%;
	color: white;
	
}

.awards {
	background-image: url('http://i.imgur.com/bWnBMeG.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	min-height:100%;
	color: white;
}

.projects {
	background-image: url('http://il9.picdn.net/shutterstock/videos/5620931/thumb/4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	min-height:100%;
	color: white;
}

.work {
	background-image: url('http://i.imgur.com/bWnBMeG.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	min-height:100%;
	color: white;
}
